/* -- Global -- */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: 300;
}

/* -- Atomic -- */
.padA-l {
    padding: 2rem;
}

.margR-s {
    margin-right: .5rem;
}

/* -- Layout -- */
[ui-flex] {
    display: flex
}

[ui-flex~=pushLastRow]:after {
    content: '';
    flex-grow: 1
}

[ui-flex~="dir:row"] {
    flex-direction: row
}

[ui-flex~="dir:column"] {
    flex-direction: column
}

[ui-flex~="dir:row-rev"] {
    flex-direction: row-reverse
}

[ui-flex~="dir:column-rev"] {
    flex-direction: column-reverse
}

[ui-flex~="wrap:true"] {
    flex-wrap: wrap
}

[ui-flex~="wrap:false"] {
    flex-wrap: nowrap
}

[ui-flex~="main:left"] {
    justify-content: flex-start
}

[ui-flex~="main:right"] {
    justify-content: flex-end
}

[ui-flex~="main:center"] {
    justify-content: center
}

[ui-flex~="main:between"] {
    justify-content: space-between
}

[ui-flex~="main:around"] {
    justify-content: space-around
}

[ui-flex~="cross:top"] {
    align-items: flex-start
}

[ui-flex~="cross:bottom"] {
    align-items: flex-end
}

[ui-flex~="cross:center"] {
    align-items: center
}

[ui-flex~="cross:stretch"] {
    align-items: stretch
}

[ui-flex~="cross:baseline"] {
    align-items: baseline
}

[ui-flexitem~="grow:true"] {
    flex-grow: 1
}

[ui-flexitem~="shrink:true"] {
    min-width: 0;
    min-height: 0
}

[ui-flexitem~="shrink:false"] {
    flex-shrink: 0
}

[ui-flexitem~="order:up"] {
    order: 1
}

[ui-flexitem~="order:down"] {
    order: -1
}

[ui-flexitem~=equalWidth] {
    flex-grow: 1;
    flex-basis: 0
}

[ui-grid~="1/6"] {
    width: 16.666%
}

[ui-grid~="2/6"] {
    width: 33.333%
}

[ui-grid~="3/6"] {
    width: 50%
}

[ui-grid~="4/6"] {
    width: 66.666%
}

[ui-grid~="5/6"] {
    width: 83.333%
}

[ui-grid~="6/6"] {
    width: 100%
}